@font-face {
  font-family: "Firago";
  src: url(.././fonts/FiraGO-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "firago";
}

main {
  margin: 0 5rem;
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
}
.slider-nav {
  background-color: unset;
}
.allcategories p,
.allcategories {
  font-family: FiraGO;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
}

.allcategories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 42px;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
h2 {
  font-family: FiraGO;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  width: 190px;
}
.ProductsCard {
  display: flex;
  width: 295px;
  border-radius: 10px;
  height: 149px;
  flex-direction: row-reverse;
  align-items: center;
  padding: 62px 26px;
  background-color: #f4f4f4;
  justify-content: space-between;
}
.categoryList {
  width: 190px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.categoryList ul {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.categoryList ul li a {
  font-family: FiraGO;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
}

.categoryCards {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 1200px) {
  .categoryList {
    display: none;
  }
  .card-container {
    justify-content: center;
  }
  .ProductsCard {
    width: 48%;
  }
}
@media (max-width: 780px) {
  main {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .allcategories p,
  .allcategories {
    font-family: FiraGO;
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
  }
  .ProductsCard {
    width: 47%;
    height: 92px;
    padding: 3% 2.5%;
  }
  .ProductsCard img {
    width: 30%;
    height: 100%;
  }
  .ProductsCard p {
    font-family: FiraGO;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
  }
  .card-container {
    gap: 15px;
  }
}
